<table
  style="width:538px;background-color:#393836"
  align="center"
  cellspacing="0"
  cellpadding="0"
>
	<tbody>
    <tr>
		  <td style="height:65px;background-color:#66c0f4;border-bottom:1px solid #4d4b48">
        <h1 style="padding: 10px; margin: 0;">Your Loan Application is Updated</h1>
      </td>
	  </tr>
	  <tr>
	  	<td bgcolor="#17212e">
			  <table width="470" border="0" align="center" cellpadding="0" cellspacing="0" style="padding-left:5px;padding-right:5px;padding-bottom:10px">

				<tbody>
          <tr bgcolor="#17212e">
					  <td style="padding-top:32px">
					    <span style="padding-top:16px;padding-bottom:16px;font-size:24px;color:#66c0f4;font-family:Arial,Helvetica,sans-serif;font-weight:bold">
						    Dear {{name}},
              </span>
              <br>
					  </td>
				  </tr>
				
          <tr>
            <td style="padding-top:12px">
            <span style="font-size:17px;color:#c6d4df;font-family:Arial,Helvetica,sans-serif;font-weight:bold">
              <p>
                You loan application process for a {{category}} loan for {{amount}} is updated but
                still on process. one of our BoD will review your loan application and we will get back to you
                once our process is complete.
              </p>
              <p>
                If you have added co-makers, the said co-makers will have 
                to consign on your application before the approver appoves your account
              </p>
              <p>We will send an email of the result of your application status soon.</p>
            </span>
            </td>
          </tr>

				<tr bgcolor="#121a25">
					<td style="padding:20px;font-size:12px;line-height:17px;color:#c6d4df;font-family:Arial,Helvetica,sans-serif">
              <p style="padding-bottom:10px;color:#c6d4df">
                <span style="color:#ffffff;font-weight:bold">If you are not applying loan </span> then please change your password, and consider changing your email password as well to ensure your <span class="il">account</span> security.</p>
					</td>
				</tr>

      </tbody>
    </table>
		</td>
	</tr>
  
</tbody>
</table>
